<h2><%= @campaign.ref %></h2>
<ul id="choices">
  <% @campaign.choices.each do |choice| %>
    <li>
      <h3><%= choice.name %></h3>
      <p>Votes: <%= choice.counted_votes %></p>
    </li>
  <% end %>
</ul>
<p id="uncounted-votes">Uncounted Votes: <%= @campaign.invalid_votes %></p>
